<h3>選擇座位</h3>
<div class="seat-container js-seatmap">
  <div class="js-row">
    <% @seats.each do |seat| %>         
      <div class="js-seat" data-id="<%= seat.seat_number %>"><%= seat.seat_number %></div>
    <% end %>
  </div>
</div>

<div>
  <ul>
    <li>活動名稱：五倍音樂祭</li>
    <li>剩餘座位：</li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div> 