<h1>編輯活動票券</h1>

<br />
<br />
<h2>編輯活動票券</h2>
<%= render 'activities/activity_form', activity: @activity.id %>


<br />
<br />
<%= link_to '編輯活動', edit_activity_path %><br />
<%= link_to '回到活動列表', activities_path %><br />
