@import url("https://fonts.googleapis.com/css?family=Arvo");

body,
html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background: #f5f4f4;
  font-family: "Arvo", monospace;

  @supports (display: grid) {
    display: block;
  }
}

.t-body {
  padding: 0 50px;
}

a:hover {
  text-decoration: initial;
}

.t-float-btn {
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.section {
  display: none;

  @media screen and (min-width: 768px) {
    padding: 4rem;
  }

  @supports (display: grid) {
    display: block;
  }
}

.t-grid {
  display: grid;
  grid-gap: 45px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
  @apply my-20;
}
.t-activity-area :first-child {
  grid-column-end: auto;
  box-sizing: content-box;

  @media screen and (min-width: 768px) {
    grid-column: 1/-1;
    grid-row-end: span 2;
  }
}

.t-activity-area :nth-child(n + 1) {
  grid-row-end: span 2;
}

.t-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  color: #fff;
  padding: 10px;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background-color: rgb(194, 152, 110);
  background-size: cover;
  background-position: center;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #000;
    opacity: 0.1;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.05);

    &:after {
      opacity: 0;
      padding: 10px;
    }
  }

  &__details {
    position: relative;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;

    &:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
      padding: 10px;
    }
  }
}
.t-item-img {
  align-items: center;
  background-color: #000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 300px;
  justify-content: center;
}
.t-item-date {
  @apply flex;
  @apply items-center;
}
.t-item-date :first-child {
  margin-right: 3px;
}
.t-float-icon {
  z-index: 20;
}
.t-footer {
  @apply px-10;
  background-color: rgb(228, 226, 226);
}

.t-form-thead {
}
