.swiper-container {
  width: 100%;
  height: 35vh;
  top: 4em;
}
@media screen and (min-width: 912px) {
  .swiper-container {
    width: 100%;
    height: 65vh;
    top: 3rem;
  }
}
@media screen and (min-width: 768px) {
  .swiper-container {
    width: 100%;
    height: 65vh;
    top: 3rem;
  }
}
.swiper-wrapper {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: #f5f4f4;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button {
  color: #750000;
}
.activity-show-swiper-button {
  color: #fff;
}
.t-slide-img {
  object-position: center;
  object-fit: cover;
}
.activity-show-swiper-area {
  background-color: #f5f4f4;
}
