<div class="qr-code-participated p-6 xl:text-center xl:text-base text-6xl">
  <p>票號: <%= @qr_code.data %></p>
  <p class="mb-3">掃描時間: <%= @qr_code.created_at.strftime('%T') %></p>
  <%= link_to '手動報到', attand_list_activity_qr_codes_path(@attand_list_activity_id), class: 'bg-gray-500 p-2 text-white rounded-lg' %>
  <%= link_to '繼續掃qr-code', scan_activity_qr_codes_path(@attand_list_activity_id), class: 'bg-blue-500 p-2 text-white rounded-lg' %>
</div>  

<script>
$(document).ready(function() {
  Swal.fire({
    position: 'center',
    icon: 'success',
    title: '參加成功',
    showConfirmButton: false,
    timer: 2000
  })    
})
</script>