<%# <h1>QR Code Show Page</h1> %>
<%= link_to "QR Code Show Page",participated_qr_code_path(@qr_code) %>
<p>QR data: <%= @qr_code.data %></p>
<p>Scanned on <%= @qr_code.created_at.strftime('%Y-%m-%d') %></p>

<script>
  window.onload = function(evt){
    evt.preventDefault();
    Swal.fire({
      position: 'center',
      icon: 'success',
      title: '參加成功',
      showConfirmButton: false,
      timer: 2000
    })  
  };
</script>