<div class="qr-code-body p-6 xl:text-3xl text-6xl">
  <h1 class="">掃描QR Code</h1>
  <div class="qr-code-container">
    <div class="qr-code-scanner xl:w-4/12 xl:h-4/12 w-full h-full">
      <video id="video" width="100%" height="100%" ></video>
    </div>
  </div>
    <label class="p-2"></label>
    <a href=""class="js-activity-id" data-id="<%= @current_activity_id %>"></a>
    <pre><code id="result"></code></pre>
    <%= link_to "目前參加者名單", attand_list_activity_qr_codes_path(@current_activity_id) , class: "js-button bg-gray-500 xl:p-2 xl:text-xl p-3 text-5xl text-white rounded-lg" %>
</div>