<div class="bg-yellow-400 fixed bottom-0 right-0 mr-24 mb-16 border-red-600 js-chatbox hidden">
  
  <div class="flex justify-between m-1">
    <div>
      <p class="text-xl">RUBYTIX</p>
    </div>
    <div class="js-close-btn">
      <i class="far fa-window-close fa-2x"></i>
    </div>
  </div>

  <div class="bg-yellow-100 h-40 w-40">
    <p>Hello!</p>
  </div>

  <div class="bg-yellow-300 h-10 w-40 flex justify-around items-center">
    <div class="bg-yellow-400">aaaaa</div>
    <div class="bg-yellow-400">bbbbb</div>
    <div class="bg-yellow-400">ccccc</div>
  </div>
</div>


<div class="fixed bottom-0 right-0 m-3">

  <div class="rounded-full h-12 w-12 flex items-center justify-center bg-red-300 js-chat-btn">
    <i class="far fa-comment-dots fa-2x"></i> 
  </div>
  

  <a href="#">
    <div class="rounded-full h-12 w-12 flex items-center justify-center bg-red-300 mt-1">
      <i class="fas fa-arrow-up fa-2x"></i>  
    </div>
  </a>

</div>