<div class="t-float-btn fixed">
  <div class="t-float-icon rounded-full  h-12 w-12 flex items-center justify-center bg-gray-100 border-2 js-chat-btn">
    <%= link_to chatrooms_path do %>
      <i class="far fa-comment-dots fa-2x hover:text-gray-900"></i>
    <% end %> 
  </div>

  <div id="topBtn">
    <div class="t-float-icon rounded-full h-12 w-12 flex items-center justify-center bg-gray-100 border-2 mt-1">
      <i class="fas fa-chevron-up fa-2x hover:text-gray-900"></i>  
    </div>
  </div>
</div>

