<% if current_user %>

  <section>
    <select name="current_user_account_name" class="current_user_account_name">
      <option value="1"  selected="selected"><%= current_user.account_name %></option>
      <option value="2" class="member_centre">會員中心</option>
      <option value="3" class="activity_record">活動紀錄</option>
      <option value="4" class="hold_activity">舉辦活動</option>
      <option value="5" class="shopping_cart">購物車</option>

    </select>

    <button>
      <%= link_to('登出', destroy_user_session_path, :method => :delete) %> 
    </button>
  </section>



        
<% else %>

  <section class="nav-bar">

    <div class="search-bar">
      <input type="text" class="search-input">
      <button class="submit search-btn">搜尋</button>
    </div>

    <div>
      <button>
        <%= link_to('會員註冊', new_registration_path(:user)) %> 
      </button>

      <button>
        <%= link_to('會員登入', new_session_path(:user)) %>
      </button>
    </div>
  </section>




<% end %>

<style>
  .nav-bar {
    display: flex;
  }
</style>



<script>
  document.addEventListener('DOMContentLoaded', function(){

    const searchBtn = document.querySelector('.search-btn')

    searchBtn.addEventListener('click', function() {
      const searchInput = document.querySelector('.search-input').value
      console.log(searchInput);
      const searchAPI = window.location.origin
      fetch(`${searchAPI}/pages/search.json?search=${searchInput}`)
      // response.json可將得到的結果轉換成json格式
      .then(response => response.json())
      .then(result => console.log(result))
      
      ;
    })
  })


</script>