.qr-code-body{
  width: 100%;
  height: 100%;
  text-align: center;
  color: rgb(156, 150, 150);
  font-weight: 600;
}
.qr-code-body h1{
  font-size: 25px;
  padding: 3%;
}
.qr-code-container{
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.attand-list {
  font-size: 25px;
}
