<h2>各別訂單檢視</h2>

<% if @order %>
  <table>
    <thead>
      <tr>
        <td>訂單編號</td>
        <td>活動名稱</td>
        <td>活動日期</td>
        <td>訂單金額</td>
        <td>訂單場地</td>
        <td>檢視完整訂單</td>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @order.num %></td>
          <td>活動名稱</td>
          <td>活動日期</td>
          <td><%= @order.price %></td>
          <td><%= @order.address %></td>
          <td><%= link_to '返回訂單列表', orders_path %></td>
        </tr>
    </tbody>
  </table>

<% else %>
  <h2>查無此訂單</h2>
<%end%>
