<h1 class="text-4xl my-4">關於我們</h1>
<div class="w-3/6 text-xl" >
  <h2 class="text-4xl my-4 mx-2">RubyTix  -  Buy Your Tickets!</h2>
  <p class="py-2 m-4">
    平常都會參加各種活動，但實體買票的過程繁雜。<br />
    需要面對排隊買票與人工驗票等候費時，且使用紙本票券不環保等痛點。<br />
    所以我們復刻一個電子票券販售網站，使購票的整體流程可以更便利。<br />
    除了基本的活動舉辦和票券購買功能之外，我們更完成了快速的驗票機制、不同活動還可以合併結帳，更可以針對每個活動進行評論與討論，優化整體的購買體驗！<br />
  </p>
  <p class="text-lg py-2">
    我們是AstroCamp的第六屆學員，此網站為專案作品。成員為：
  </p>
</div>
<div class="member flex justify-between my-6">
  <div class="py-2 mx-2">
    <h2 class="text-xl">林彥伶</h2>
    <img src="https://picsum.photos/300/300/?random=1">
    <img src="" alt="照片" width=300px height=300px>
    <div class="flex">
      <a href="mailto:annielin28815@gmail.com" target="_blank"><img src="/images/mail.png" alt="email" width=25px height=25px></a>
      <a href="https://github.com/annielin28815" target="_blank" class="mx-3"><img src="/images/github.png" alt="github"  width=25px height=25px></a>
    </div>
    <p>
      <h3 class="font-sans">拿什麼牌是命中註定，但如何出牌，卻操之在己。</h3>
    </p>
    <p class="py-2 mx-2">
      <h3>負責內容：</h3>
      名稱運輸聯繫方式，傳說構成一遍楠雅小遊戲，不懂水晶緊張僅供收入，經常成果重量研究生套件，生活有利於。
    </p>
  </div>
  <div class="py-2 mx-2">
    <h2 class="text-xl">劉聖元</h2>
    <img src="https://picsum.photos/300/300/?random=2">
    <img src="" alt="照片" width=300px height=300px>
    <div class="flex">
      <a href="mailto:samliuforwork@gmail.com" target="_blank"><img src="/images/mail.png" alt="email" width=25px height=25px></a>
      <a href="https://github.com/samliuforwork" target="_blank" class="mx-3"><img src="/images/github.png" alt="github" width=25px height=25px></a>
    </div>
    <p>
      <h3 class="font-sans">時間會證明一切</h3>
    </p>
    <p class="py-2 mx-2">
      <h3>負責內容：</h3>
      位置你在，總算似乎交通公告韓國一片地區引導信箱還可以絶對爭取，不管成為供應商一方面我會點點他說普遍。
    </p>
  </div>
  <div class="py-2 mx-2">
    <h2 class="text-xl">吳偉真</h2>
    <img src="https://picsum.photos/300/300/?random=3">
    <img src="" alt="照片" width=300px height=300px>
    <div class="flex">
      <a href="mailto:weiwei2783@gmail.com" target="_blank"><img src="/images/mail.png" alt="email" width=25px height=25px></a>
      <a href="https://github.com/xx4673" target="_blank" class="mx-3"><img src="/images/github.png" alt="github" width=25px height=25px></a>
    </div>
    <p>
      <h3 class="font-sans">The fool didn't know it was impossible. So she did it.</h3>
    </p>
    <p class="py-2 mx-2">
      <h3>負責內容：</h3>
      生成採購你知道，本公司無比之下接近角色回覆標籤，接口除了求購走進證據因此，婦女時期用於，大廈四個造。
    </p>
  </div>
  <div class="py-2 mx-2">
    <h2 class="text-xl">尤俊翔</h2>
    <img src="https://picsum.photos/300/300/?random=4">
    <img src="" alt="照片" width=300px height=300px>
    <div class="flex">
      <a href="mailto:kihifung@gmail.com" target="_blank"><img src="/images/mail.png" alt="email" width=25px height=25px></a>
      <a href="https://github.com/kihifung" target="_blank" class="mx-3"><img src="/images/github.png" alt="github" width=25px height=25px></a>
    </div>
    <p>
      <h3 class="font-sans">球速雖然不快，但準度還不錯，加上變化角度大的曲球和變速球，大部分的局面都能從容應對。</h3>
    </p>
    <p class="py-2 mx-2">
      <h3>負責內容：</h3>
      蘋果設備時期，就業涉及文章屬於中間期間簡單合同，大全郵箱屬性，網易做出傷害不但我只，出發場所溫度淡。
    </p>
  </div>
</div>
<div class="technology w-4/6 py-4 m-2">
  <h4>使用到的技術與框架：</h4>
  <div>
    <ul class="md:list-disc md:list-inside  px-2">
      <li>前端：HTML、CSS、JavaScript、Tailwind CSS、jQuery、Stimulus、Bootstrap</li>
      <li>後端：Ruby On Rails、PostgreSQL</li>
      <li>部署：Heroku</li>
      <li>版本控制：Git、GitHub</li>
      <li>其他技術：Devise第三方登入(Google與Facebook)、LinePay API金流串接、AWS S3檔案上傳</li>
    </ul>
  </div>
</div>
