<div class="container my-32">
  <h1 class="text-4xl my-4">關於我們</h1>
  <div class="w-3/4 text-xl">
    <h2 class="text-4xl my-4 mx-2">RubyTix  -  Buy Your Tickets!</h2>
    <p class="py-2 m-4">
      平常都會參加各種活動，但實體買票的過程繁雜。<br />
      需要面對排隊買票與人工驗票等候費時，且使用紙本票券不環保等痛點。<br />
      所以我們復刻一個電子票券販售網站，使購票的整體流程可以更便利。<br />
      除了基本的活動舉辦和票券購買功能之外，我們更完成了快速的驗票機制、不同活動還可以合併結帳，更可以針對每個活動進行評論與討論，優化整體的購買體驗！<br />
    </p>
    <p class="text-lg py-2">
      我們是AstroCamp的第六屆學員，此網站為專案作品。<br />
      成員為：
    </p>
  </div>
</div>
  <%# ================== %>
<div class="member container flex justify-around my-6 px-auto">
  <div class="py-2 mx-2 w-1/4">
    <h2 class="text-xl">林彥伶</h2>
    <img src="/images/lin.jpg" width=200px height=200px class="rounded-full">
    <div class="flex">
      <a href="https://www.cakeresume.com/s--pA0VMZzZxjC2nMc7bRI9bA--/annie-lin-93bccf" target="_blank" class="m-1"><i class="fas fa-file-alt"></i></a> <%# 履歷連結 %>
      <a href="mailto:annielin28815@gmail.com" target="_blank" class="m-1"><i class="fas fa-envelope"></i></a>
      <a href="https://github.com/annielin28815" target="_blank" class="m-1"><i class="fab fa-github"></i></a>
    </div>
    <p>
      <h3 class="font-sans text-lg h-10 my-10"><q>拿什麼牌是命中註定，但如何出牌，卻操之在己。</q></h3>
    </p>
    <p class="py-2 mx-2">
      <h3>負責內容：</h3>
        <ul class="list-disc list-inside ml-2">
          <li>會員系統與第三方登入</li>
          <li>AWS S3串接</li>
          <li>搜尋與收藏功能</li>
          <li>網站切版</li>
        </ul>
    </p>
  </div>
  <div class="py-2 mx-2 w-1/4">
    <h2 class="text-xl">劉聖元</h2>
    <img src="/images/liu.jpg" width=200px height=200px class="rounded-full">
    <div class="flex">
      <a href="#" target="_blank" class="m-1"><i class="fas fa-file-alt"></i></a> <%# 履歷連結 %>
      <a href="mailto:samliuforwork@gmail.com" target="_blank" class="m-1"><i class="fas fa-envelope"></i></a>
      <a href="https://github.com/samliuforwork" target="_blank" class="m-1"><i class="fab fa-github"></i></a>
    </div>
    <p>
      <h3 class="font-sans text-lg h-10 my-10"><q>時間會證明一切</q></h3>
    </p>
    <p class="py-2 mx-2">
      <h3>負責內容：</h3>
        <ul class="list-disc list-inside ml-2">
          <li>串接金流</li>
          <li>即時通訊</li>
          <li>通知功能</li>
        </ul>
    </p>
  </div>
  <div class="py-2 mx-2 w-1/4">
    <h2 class="text-xl">吳偉真</h2>
    <img src="/images/wu.png" width=200px height=200px class="rounded-full">
    <div class="flex">
      <a href="#" target="_blank" class="m-1"><i class="fas fa-file-alt"></i></a> <%# 履歷連結 %>
      <a href="mailto:weiwei2783@gmail.com" target="_blank" class="m-1"><i class="fas fa-envelope"></i></a>
      <a href="https://github.com/xx4673" target="_blank" class="m-1"><i class="fab fa-github"></i></a>
    </div>
    <p>
      <h3 class="font-sans text-lg h-10 my-10"><q>The fool didn't know it was impossible. So she did it.</q></h3>
    </p>
    <p class="py-2 mx-2">
      <h3>負責內容：</h3>
        <ul class="list-disc list-inside ml-2">
          <li>票務系統</li>
          <li>評論功能</li>
          <li>出席驗證機制</li>
        </ul>
    </p>
  </div>
  <div class="py-2 mx-2 w-1/4">
    <h2 class="text-xl">尤俊翔</h2>
    <img src="/images/yu.jpeg" width=200px height=200px class="rounded-full">
    <div class="flex">
      <a href="https://lihi1.com/aF3KV" target="_blank" class="m-1"><i class="fas fa-file-alt"></i></a> <%# 履歷連結 %>
      <a href="mailto:kihifung@gmail.com" target="_blank" class="m-1"><i class="fas fa-envelope"></i></a>
      <a href="https://github.com/kihifung" target="_blank" class="m-1"><i class="fab fa-github"></i></a>
    </div>
    <p>
      <h3 class="font-sans text-lg h-10 my-10"><q>球速雖然不快，但準度還不錯，加上變化角度大的曲球和變速球，大部分的局面都能從容應對。</q></h3>
    </p>
    <p class="py-2 mx-2">
      <h3>負責內容：</h3>
        <ul class="list-disc list-inside ml-2">
          <li>網站部署</li>
          <li>活動管理</li>
          <li>網站切版</li>
        </ul>
    </p>
  </div>
</div>
<div class="technology container w-4/6 px-10 py-4 my-10 mx-4">
  <h4>使用到的技術與框架：</h4>
  <div>
    <ul class="md:list-disc md:list-inside px-2">
      <li>前端：HTML、CSS、JavaScript、Tailwind CSS、jQuery、Stimulus、Bootstrap</li>
      <li>後端：Ruby On Rails、PostgreSQL</li>
      <li>部署：Heroku</li>
      <li>版本控制：Git、GitHub</li>
      <li>其他技術：Devise第三方登入(Google與Facebook)、LinePay API金流串接、AWS S3檔案上傳</li>
    </ul>
  </div>
</div>
<div class="container qrcode_intro my-10">
<a href='https://www.unitag.io/qrcode'><img src='https://www.unitag.io/qreator/generate?crs=Ppv8rOENN3V1lAwTz82zPjZwLeh11CXT8n%252BHMzWMdvUb%252BsqQ%252Foeme7xO4uqEGrEiTm6OzsRVaQ%252BGdfRr9ElwCsNfmJlLCnlvTZgFfAlUbBKCnm2NGVcTtY8Sdhe61eGqH901cobUhbPtTMcAHFc1nd1q%252BwEHEuCOaM%252F14V39R9QMWvTUvx3UVmxBRn5P715od9N9kP52RVp0afgLvf8a%252Br3DIU6aVNaVlGu56MmHvy2xeveVnNXQ2Z2BngROgT0TAfl5pxPvePNYhxOdVxoPFfUsW233aROvY4WemRQu5ekiHeTfIV2KsvZsYv6BY6cU&crd=fhOysE0g3Bah%252BuqXA7NPQ87MoHrnzb%252BauJLKoOEbJsorT3RT%252BjgAF4wx1aZpplx8g6LoxdWJdwOvnk9Rh0Dcow%253D%253D' alt='QR Code'/></a>
</div>
