<section class="pt-40">

  <div class="px-5">
    <h2 class="text-2xl font-extrabold bg-gray-50">購票須知</h2>
    <div class="py-3">
      <li class="list-none">1.請先註冊或是登入Accupass後，至您喜愛的活動頁點選「立即報名」。</li>
      <li class="list-none">2.待進入購票頁面後，您可選擇欲報名之票種以及票券張數（提醒您，此時「＋」為空心樣，滑鼠點擊後變為藍色實心樣代表選取成功）。</li>
      <li class="list-none">3.點選「＋」選擇票券張數後，頁面最下方的「立即報名」便能點選。</li>

      <li class="list-none">4.填寫報名資料（請注意，活動資訊將會透過郵件寄至帳號之信箱，而非此處填寫之信將地址）</li>
      <li class="list-none">5.若為付費票，請選擇適合的付款方式，再點選「前往付款」。請留意付款期限，「線上付款」需於 30 分鐘繳費；「線下付款」則為 D+1 內（若主辦單位另有規定，則以主辦單位設定之繳費期限為主），訂單逾期將自動取消該次報名，並釋出名額。</li>
    </div>
  </div>

</section>


