<div class="my-32">
  <div class="px-5">
    <h2 class="text-4xl font-extrabold bg-gray-50">活動辦理流程</h2>
    <h3 class="text-xl my-4">你好！歡迎來到RubyTix！</h3>
    <div class="py-3">
      <ul class="list-decimal list-inside my-10">
        <li class="text-lg my-6">請先進行註冊程序，取得RubyTix之使用者資格</li>
        <li class="text-lg my-6">使用已經註冊的帳號登入RubyTix</li>
        <li class="text-lg my-6">進入網站後，可移至所喜愛的活動頁點選「活動管理」。</li>
        <li class="text-lg my-6">待進入活動管理頁面後，點選新增活動。</li>
        <li class="text-lg my-6">填寫相關資料，送出。</li>
        <li class="text-lg my-6">查看已建立之內容</li>
        <li class="text-lg my-6">準備好了嗎？去創造屬於你的活動吧！</li>
      </ul>
      <div class="w-2/6 my-6 mx-3"><%= link_to '開始舉辦活動！', new_activity_path, class: "t-back-button" %></div>
    </div>
  </div>
</div>
