<div class="max-w-screen-xl pt-40 pb-10 z-20">

  <section class="hot-activity relative">
    <div class="bg-gray-50 flex justify-center py-3 ">
      <h2 class="text-2xl px-2 font-extrabold bg-gray-50">熱門活動</h2>
    </div>
    
    <div class="px-3">
      <div class="activity_item grid grid-cols-3 gap-4">
    
        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">  
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>
    
          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>
    
            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
    
        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>
        
          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>
        
            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
    
        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>
        
          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>
        
            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
    
      </div>
    </div>
  </section>

  <section class="feature-activity relative">
    <div class="flex justify-center py-3">
      <h2 class="text-2xl px-2 font-extrabold">特色活動</h2>
    </div>

    <div class="px-3">
      <div class="activity_item grid grid-cols-3 gap-4">

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="5xRuby-activity relative">
    <div class="flex justify-center py-3">
      <h2 class="text-2xl px-2 font-extrabold">5xRuby</h2>
    </div>

    <div class="px-3">
      <div class="activity_item grid grid-cols-3 gap-4">

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="entertainment-activity relative">
    <div class="flex justify-center py-3">
      <h2 class="text-2xl px-2 font-extrabold">休閒娛樂</h2>
    </div>

    <div class="px-3">
      <div class="activity_item grid grid-cols-3 gap-4">

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="technology-activity relative">
    <div class="flex justify-center py-3">
      <h2 class="text-2xl px-2 font-extrabold">資訊科技</h2>
    </div>

    <div class="px-3">
      <div class="activity_item grid grid-cols-3 gap-4">

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
          <div class="relative">
            <a href="#">
              <div class="w-full">
                <img src="https://picsum.photos/400/300/?random=1">
              </div>
              <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
                <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
              </div>
            </a>
          </div>

          <div class="flex justify-between">
            <div class="flex">
              <div>
                <i class="far fa-calendar-alt"></i>
              </div>
              <div class="pl-2">
                <p>2020/12/27</p>
              </div>

            </div>
            <div class="flex">
              <a href="#">
                <div class="flex">
                  <div class="pl-2">
                    <p>more</p>
                  </div>
                  <div>
                    <i class="fas fa-angle-double-right"></i>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</div>