
<section class="hot-activity">
  <div class="flex justify-center py-3">
    <h2 class="text-2xl px-2 font-extrabold">熱門活動</h2>
  </div>
  
  <div class="px-3">
    <div class="activity_item grid grid-cols-3 gap-4">
  
      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">  
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>
  
        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>
  
          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
  
      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>
      
        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>
      
          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
  
      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>
      
        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>
      
          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
  
    </div>
  </div>
</section>

<section class="feature-activity">
  <div class="flex justify-center py-3">
    <h2 class="text-2xl px-2 font-extrabold">特色活動</h2>
  </div>

  <div class="px-3">
    <div class="activity_item grid grid-cols-3 gap-4">

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="5xRuby-activity">
  <div class="flex justify-center py-3">
    <h2 class="text-2xl px-2 font-extrabold">5xRuby</h2>
  </div>

  <div class="px-3">
    <div class="activity_item grid grid-cols-3 gap-4">

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="entertainment-activity">
  <div class="flex justify-center py-3">
    <h2 class="text-2xl px-2 font-extrabold">休閒娛樂</h2>
  </div>

  <div class="px-3">
    <div class="activity_item grid grid-cols-3 gap-4">

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section class="technology-activity">
  <div class="flex justify-center py-3">
    <h2 class="text-2xl px-2 font-extrabold">資訊科技</h2>
  </div>

  <div class="px-3">
    <div class="activity_item grid grid-cols-3 gap-4">

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="bg-red-200 p-3 group border-indigo-500 hover:bg-white hover:shadow-lg hover:border-transparent">
        <div class="relative">
          <a href="#">
            <div class="w-full">
              <img src="https://picsum.photos/400/300/?random=1">
            </div>
            <div class="absolute bottom-0 left-0 bg-red-300 bg-opacity-75 ">
              <h5 class="text-xl group-hover:text-gray-900">以為故事，那些要是。</h5>
            </div>
          </a>
        </div>

        <div class="flex justify-between">
          <div class="flex">
            <div>
              <i class="far fa-calendar-alt"></i>
            </div>
            <div class="pl-2">
              <p>2020/12/27</p>
            </div>

          </div>
          <div class="flex">
            <a href="#">
              <div class="flex">
                <div class="pl-2">
                  <p>more</p>
                </div>
                <div>
                  <i class="fas fa-angle-double-right"></i>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>





<div class="option">
  <div>焦點</div>
  <div>藝文</div>
  <div>體驗</div>
  <div>資訊</div>
  <div>課程</div>
</div>

<h2>熱門活動</h2>
<div class="activity_item">
  <div>活動1</div>
  <div>活動2</div>
  <div>活動3</div>
  <div>活動4</div>
  <div>活動5</div>
  <div>活動6</div>
</div>

<h2>最新上架</h2>
<div class="activity_item">
<div>活動1</div>
<div>活動2</div>
<div>活動3</div>
<div>活動4</div>
<div>活動5</div>
<div>活動6</div>
</div>

<h2>把握機會</h2>
<div class="activity_item">
<div>活動1</div>
<div>活動2</div>
<div>活動3</div>
<div>活動4</div>
<div>活動5</div>
<div>活動6</div>
</div>

<h2>敬請期待</h2>
<div class="activity_item">
<div>活動1</div>
<div>活動2</div>
<div>活動3</div>
<div>活動4</div>
<div>活動5</div>
<div>活動6</div>
</div>
