<h1>首頁</h1>

<div class="option">
  <div>焦點</div>
  <div>藝文</div>
  <div>體驗</div>
  <div>資訊</div>
  <div>課程</div>
</div>

<h2>熱門活動</h2>
<div class="activity_item">
<div>活動1</div>
<div>活動2</div>
<div>活動3</div>
<div>活動4</div>
<div>活動5</div>
<div>活動6</div>
</div>

<h2>最新上架</h2>
<div class="activity_item">
<div>活動1</div>
<div>活動2</div>
<div>活動3</div>
<div>活動4</div>
<div>活動5</div>
<div>活動6</div>
</div>

<h2>把握機會</h2>
<div class="activity_item">
<div>活動1</div>
<div>活動2</div>
<div>活動3</div>
<div>活動4</div>
<div>活動5</div>
<div>活動6</div>
</div>

<h2>敬請期待</h2>
<div class="activity_item">
<div>活動1</div>
<div>活動2</div>
<div>活動3</div>
<div>活動4</div>
<div>活動5</div>
<div>活動6</div>
</div>
