<div class="my-32">
  <div class="px-5">
    <h2 class="text-4xl font-extrabold bg-gray-50">參加活動</h2>
    <h3 class="text-xl my-4">你好！歡迎來到RubyTix！</h3>
    <div class="py-3">
      <ul class="list-decimal list-inside my-10">
        <li class="text-lg my-6">請先進行註冊程序，取得RubyTix之使用者資格</li>
        <li class="text-lg my-6">使用已經註冊的帳號登入RubyTix</li>
        <li class="text-lg my-6">進入網站後，可移至所喜愛的活動頁點選「參加活動」。</li>
        <li class="text-lg my-6">待進入購票頁面後，您可選擇該活動之票券種類與張數。</li>
        <li class="text-lg my-6">點擊「＋」和「-」來選擇票券張數，並點選下方的「參加活動」。</li>
        <li class="text-lg my-6">填寫報名資料</li>
        <li class="text-lg my-6">準備好了嗎？去尋找你的活動吧！</li>
      </ul>
      <div class="w-2/6 my-6 mx-3"><%= link_to '前往活動列表！', root_path, class: "t-back-button" %></div>
    </div>
  </div>
</div>
