<div class="container my-32">
  <div class="px-5">
    <h2 class="text-4xl font-extrabold bg-gray-50">加入會員</h2>
    <h3 class="text-xl my-4">你好！歡迎來到RubyTix！</h3>
    <%#= ============================= %>
    <div class="text-lg my-2 w-1/2">
      <div>
        如有任何問題，請參閱<%= link_to '[常見問題]', faq_pages_path %>。
        若你的問題無法在本頁面獲得解答，歡迎與我們聯繫。
      </div>
      <div>
        聯絡信箱：<a href="mailto:contact@rubytix.fun">contact@rubytix.fun</a>
      </div>
      <div>智慧客服服務時間：週一至週五(10:00~17:00)</div>
    </div>
    <%#= ============================= %>
    <div class="py-3">
      <ul class="list-decimal list-inside">
        <li class="text-lg my-10 text-2xl">在RubyTix參加活動需要先註冊會員，接下來會依照步驟進行說明。</li>
        <%= "圖例示範" %>
        <img src="/images/intro_registration.png" width=500px height=500px alt="註冊示意圖" class="mx-6 border-black">
        <li class="text-lg my-10 text-2xl">使用已經註冊的帳號登入RubyTix</li>
        <%= "圖例示範" %>
        <img src="/images/intro_login.png" width=500px height=500px alt="登入網站" class="mx-6">

        <h3 class="text-xl my-10 ml-20 text-xl">恭喜你！你已經成功加入RubyTix!</h3>

        <li class="text-lg my-10 text-2xl">準備好了嗎？去創造屬於你的活動吧！</li>
        <div class="w-2/6 my-6 mx-3"><%= link_to '前往活動列表！', activities_path, class: "t-back-button" %></div>
      </ul>
    </div>

  </div>
</div>
