<div class="my-40">
  <div class="px-5">
    <h2 class="text-4xl font-extrabold bg-gray-50">服務條款</h2>
    <p class="my-2">更新日期：</p>
    <%= Time.now()&.strftime("%Y/%m/%d") %>
    <div class="w-4/6  mx-2">
      <ul class="list-decimal">
        <li class="my-4 mx-2">
          <h3 class="text-lg" class="text-lg">台端與 RubyTix 之關係</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                RubyTix Inc. (中文名：紅寶石票券股份有限公司) ，以下簡稱 RubyTix ，係依據本服務條款提供相關產品、平台及電子票券服務。 當 台端使用 RubyTix 所提供之服務時，即表示 台端已閱讀、瞭解並同意接受本約定書之所有內容。 RubyTix 公司有權於任何時間修改或變更本約定書之內容，建議 台端隨時注意該等修改或變更。台端於任何修改或變更後繼續使用 RubyTix 所提供之服務時，視為 台端已閱讀、瞭解並同意接受該等修改或變更。
              </li>
              <li>
                台端對 RubyTix 產品、軟體、服務及網站（本文件中合稱"服務"，不包括 RubyTix 按另行書面協議向 台端提供之任何服務）的使用悉依 台端與 RubyTix 間法律協議之條款規定。"RubyTix" 指RubyTix Inc.，公司註冊地於中華民國(R.O.C.)，本文件說明協議如何制定，並規範該協議若干條款。
              </li>
              <li>
                本《服務條款》就 台端對服務之使用，構成 台端與 RubyTix 間具有法律約束力之協議。台端應詳閱條款內容。
              </li>
              <li>
                關於台端的會員註冊以及其他特定資料依本公司《隱私權政策》受到保護與規範。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">接受本條款</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>使用服務必須先行同意本條款。如 台端不接受本條款，則不得使用服務。</li>
              <li>台端得通過下列方式接受本條款：
                <ul class="list-decimal list-inside px-3">
                  <li>
                    如 RubyTix 於任何服務之用戶介面上提供 台端得以點選接受或同意本條款之選項者，則 台端得透過點選該選項以接受本條款；或 台端亦得透過實際使用服務以接受本條款。 台端暸解並同意，如 台端實際使用服務時， RubyTix 將視 台端自使用服務起接受本條款。
                  </li>
                </ul>
              </li>
              <li>使用 RubyTix 服務 台端同時遵守以下事項：
                <ul class="list-decimal list-inside px-3">
                  <li>依本服務註冊表之提示提供 台端本人正確、最新及完整的資料。</li>
                  <li>維持並更新 台端個人資料，確保其為正確、最新及完整。若 台端提供任何錯誤或不實的資料， RubyTix 有權暫停或終止 台端的帳號，並拒絕 台端使用本服務之全部或部分。</li>
                </ul>
              </li>
              <li>台端可能因活動屬性不同，於下列任一情況下不得使用本服務與適用本條款：
                <ul class="list-decimal list-inside px-3">
                  <li>台端未達得與活動屬性所訂立具約束力合約之法定年齡，或 台灣或其他國家（包括 台端居住或使用服務之國家）之法律規定禁止 台端接受服務。</li>
                </ul>
              </li>
              <li>台端繼續詳閱以下內容前， 應列印或於本地保存通用條款作為備案。</li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">本條款語言</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                如 RubyTix 向 台端提供本條款繁體中文版之譯文， 台端同意，該譯文僅供 台端方便之用， 台端與 RubyTix 之關係仍以本條款正體中文版為準。如本條款正體中文版與譯文發生衝突，皆以正體中文版為準。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">RubyTix 提供之服務</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                RubyTix 不斷創新以向其用戶提供最佳體驗。 台端認知並同意，RubyTix 提供服務之形式及性質得不經事先通知 台端而隨時變換。
              </li>
              <li>
                台端認知並同意， RubyTix 按其持續創新政策，得自行決定（永久或暫時）停止向 台端或全體用戶提供服務，無須事先通知 台端。 台端得隨時停止使用服務。 台端停止使用服務時，無需特別通知 RubyTix 。
              </li>
              <li>
                台端認知並同意，如 RubyTix 取消 台端使用 台端帳戶之資格時， 台端即可能無法獲得服務或 台端之帳戶資料或包含於 台端帳戶中之任何檔或其他內容。
              </li>
              <li>
                台端認知並同意，RubyTix 目前縱可能未設置 台端透過服務得發送或接收傳輸之數量或用於提供任何服務之存儲空間之上限，但 RubyTix 得自行決定隨時設定該等上限。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">台端對服務之使用</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                為獲得某些服務， 台端可能會被要求提供有關 台端之資訊（如身份或聯絡資料），作為服務登記流程之一部，或作為 台端持續使用服務之一部。 台端同意提供予 RubyTix 之任何登記資訊均為準確、正確及最新之資料。
              </li>
              <li>
                台端同意僅為下列所允許之目的使用服務：(甲)本條款，及(乙)任何適用法律、法規或有關轄區內公認慣例或準則（包括關於資料或軟體於中華民國(R.O.C.)或其他相關國家進出口之任何法律）。
              </li>
              <li>
                台端同意，除非 台端另根據與 RubyTix 之協議獲得特別允許外，不以透過 RubyTix 提供之介面以外之任何方式獲得（或試圖獲得）任何服務。
              </li>
              <li>
                台端同意不從事妨礙或者破壞服務（或與服務連接之伺服器及網路）的任何活動。
              </li>
              <li>
                除非 台端另按與 RubyTix 之協議獲得特別允許外， 台端同意不為任何目的重製、複製、拷貝、出售、買賣或轉售服務。
              </li>
              <li>
                台端同意，就 台端違反 台端本條款項下之義務及其後果，包括 RubyTix 遭受之任何損失或損害，均由 台端自行負責， RubyTix 對 台端或任何第三人概不負責）。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">台端密碼及帳戶之安全性</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                台端同意並暸解， 台端應負責將 台端獲得服務所使用之任何帳戶之相關密碼予以保密。據此， 台端同意，就 台端帳戶下之所有活動必須負起完全之責任。
              </li>
              <li>
                台端同意並暸解， 台端於每次連線完畢，均登出結束 台端的帳號使用，避免帳號密碼外洩或遭他人盜用。如 台端得知 台端之密碼或帳戶遭他人未經授權使用時， 台端同意立即通知 RubyTix。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">隱私與 台端個人資料</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                關於 RubyTix 之資料保護規則，請於網站查閱 RubyTix 之《隱私權政策》。該政策說明 RubyTix 如何處理 台端之個人資料，並於 台端使用服務時保護 台端之隱私。如 台端使用本服務即同意按照 RubyTix 之隱私政策使用 台端資料。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">服務內容</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                台端暸解， 台端獲取作為服務之一部分之資訊，以及 台端透過使用服務而獲取之資訊（如資料檔案、書面文本、電腦軟體、音樂、音像檔或其他聲音、圖片、錄影或其他影像），完全由該內容之創作人員負責。所有該等資訊下稱"內容"。
              </li>
              <li>
                台端應知悉， 台端於服務中獲得展示之內容，包括（但不限於）服務中之廣告及贊助內容，可能受提供內容予 RubyTix 之贊助商或廣告商（或其代表人員或公司）所有之智慧財產權保護。除非經 RubyTix 或相關內容所有人另以協議特別准許外， 台端不得修改、承租、出租、借貸、出售或經銷該內容之全部或一部，亦不得根據該內容之全部或一部創作衍生作品。
              </li>
              <li>
                RubyTix 有權（但無義務）自任何服務中預覽、審閱、標明、過濾、修訂、拒絕或刪除任何或所有內容。 台端暸解， 台端使用服務時，可能會接觸到 台端感到冒犯、粗鄙或反感之內容， 故 台端使用服務之相關風險概由 台端自行承擔。
              </li>
              <li>
                台端同意，就 台端使用服務時所創作、傳送或展示之任何內容以及 台端該等行為之後果，包括 RubyTix 可能遭受之任何損失或損害，皆由 台端自行負責， RubyTix 對 台端或任何第三人概不負責。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">專屬權利</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                台端認知並同意， RubyTix 或 RubyTix 之授權人對服務擁有一切法定權利、所有權及利益，包括存在於服務中之任何智慧財產權（無論該等權利是否已經登記，亦不論該等權利存在於世界任何地方）。 台端亦認知，服務可能包括 RubyTix 指定為保密之資訊，未經 RubyTix 事先書面同意前， 台端不得揭露該等資訊。
                除非 台端與 RubyTix 另有書面協議外，本條款任何規定均未給予 台端使用 RubyTix 任何商號、商標、服務標章、標識、區域名稱及其他顯著品牌特徵之權利。
              </li>
              <li>
                除第11條規定之有限授權外， RubyTix 認知並同意，其未按本條款規定自 台端或 台端授權人獲得 台端於服務中或透過服務提交、張貼、傳輸或展示任何內容之任何權利、所有權或利益，包括該內容之任何智慧財產權（無論該等權利是否已經登記，亦不論該等權利存在於世界任何地方）。除非 台端與 RubyTix 另有書面協議外， 台端同意， 台端應負責保護並執行上開權利， RubyTix 不負代表 台端保護或執行上開權利之義務。
              </li>
              <li>
                台端同意， 台端不得刪除、掩藏或更動服務隨附或包含之任何專屬權利聲明（包括著作權及商標聲明）。除非 台端另獲 RubyTix 以書面明確授權外， 台端同意，其於使用服務時，不得使用任何公司或組織之商標、服務標章、商號或標識，致可能或故意導致他人對該等標章、名稱或標識之所有權人或授權用戶產生混淆。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">RubyTix 之授權</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                RubyTix 向 台端提供服務時，亦授予 台端一個人、全球使用、免費、不得轉讓且非排他性之權利使用其向 台端提供之軟體（下稱"軟體"）。此項授權之唯一目的，乃俾 台端根據本條款允許之方式使用及享用 RubyTix 提供之服務之利益。
              </li>
              <li>
                除非法律另有明確允許或規定外，或 RubyTix 另有特別之書面准許外， 台端不得自行或允許他人拷貝或修改軟體或軟體任何部分，或對軟體或軟體任何部分創作衍生作品、進行反向工程、反編輯或以其他方式試圖自軟體或軟體任何部分提取原始碼。 
              </li>
              <li>
                除非另經 RubyTix 以書面方式明確允許外， 台端不得轉讓 台端對軟體之使用權或將該使用權轉授權他人，亦不得就 台端對軟體之使用權提供擔保權益，或以其他方式轉讓 台端對軟體使用權之任何部分。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">台端對內容之授權</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                台端就 台端於服務上或透過服務提交、張貼或展示之內容享有已持有之著作權及其他任何權利。 台端透過提交、張貼或展示內容， 即授予RubyTix 一 永久、不得撤銷、全球使用、免費及非排他性之權利，以複製、改編、修改、翻譯、發佈、公開演出、公開展示及散佈 台端於服務上或透過服務提交、張貼或展示之任何內容。此項授權僅以俾 RubyTix 展示、散佈及宣傳服務為目的，並得就某些服務按服務附加條款撤銷上開授權。
              </li>
              <li>
                台端同意，上開授權包括 RubyTix 得向因聯合服務之提供而與 RubyTix 有關係之其他公司、組織或個人提供該等內容之權利，並就聯合服務之提供使用該內容之權利。
              </li>
              <li>
                台端暸解， RubyTix 實施所需之技術措施向用戶提供服務時，得於不同公共網路及不同媒體傳送或散佈 台端之內容；對 台端之內容作出必要變更，使內容符合及適應連接網路、裝置、服務或媒體之技術要求。 台端同意，前開授權允許 RubyTix 採取上述行動。
              </li>
              <li>台端向 RubyTix 確認並保證， 台端擁有所有必要之權利及權限為上開授權。</li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">軟體更新</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                台端使用之軟體得隨時自 RubyTix 自動下載及安裝更新版本。該等更新版本旨於改進、增強及進一步開發服務，並得以錯誤修正功能、強化功能、新軟體模組及全新版本之形式為之。 台端使用服務時，同意接受（並允許 RubyTix 向 台端交付）該等更新版本。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">終止 台端與 RubyTix 之關係</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                本條款將持續適用直至根據下述規定由 台端或 RubyTix 終止。
              </li>
              <li>
                如 台端擬終止與 RubyTix 之法律協議， 台端得透過下列方式為之：(甲)隨時通知 RubyTix ，及(乙)如 RubyTix 向 台端提供得以關閉 台端所有服務帳戶之選項，則 台端得透過關閉該等帳戶終止與 RubyTix 之法律協議。
              </li>
              <li>
                下列任一情況發生時， RubyTix 得隨時終止其與 台端之法律協議：
                <ul class="list-decimal list-inside px-3">
                  <li>台端違反了本條款任何規定（或 台端之行為方式明確顯示 台端無意或無法遵守本條款規定）</li>
                  <li>RubyTix 依法律規定須終止其與 台端之法律協議（如向 台端提供服務屬不合法或成為不合法行為）</li>
                  <li>與 RubyTix 共同向 台端提供服務之合作夥伴已終止其與 RubyTix 之關係或停止向 台端提供服務</li>
                  <li>RubyTix 經歷轉變後不再向 台端居住或使用服務之國家內之用戶提供服務</li>
                  <li>RubyTix 認為， RubyTix 向 台端提供服務不再具有商業可行性</li>
                  <li>RubyTix 網站電子通信設備進行必要之保養及施工，或發生天災等不可抗力之因素。</li>
                </ul>
              </li>
              <li>
                本條任一項規定皆不得影響 RubyTix 根據本條款第4條規定所享有服務提供之相關權利。
              </li>
              <li>
                本條款終止時， 台端與 RubyTix享有、承擔（或於本條款有效期間業產生），或明確規定為無限期有效之所有法定權利、義務及責任，皆不受該終止影響，第20.7條規定應無限期持續適用於該等權利、義務及責任。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">保證排除</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                本條款任何規定，包括第14及15條規定，均不排除或限制 RubyTix 根據適用法律不得合法排除或限制之損失保證或責任。某些轄區不允許排除某些保證或條件，或不允許限制或排除因過失、違約或違反暗示條款所引起之損失或損害，或不允許對附隨或衍生性損害之責任，因此， 台端僅適用 台端轄區內屬合法之限制，而RubyTix之責任亦僅限於法律允許之最大範圍。
              </li>
              <li>
                台端明確暸解並同意， 台端應自行承擔使用服務之風險，且服務係按"現狀"及"原樣"方式提供之。
              </li>
              <li>RubyTix 及其授權人，就以下事項並未向 台端作出聲明或保證：
                <ul class="list-decimal list-inside px-3">
                  <li>台端對服務之使用將符合 台端需求</li>
                  <li>台端因使用服務而獲得 RubyTix 提供之資訊，皆屬真實無造假之嫌。及</li>
                  <li>台端連同服務獲得提供之任何軟體所發生之操作或功能瑕疵將獲得改正。</li>
                </ul>
              </li>
              <li>
                台端透過使用服務而下載或以其他方式獲取資料之行，屬 台端自行決定之行為，其相關風險悉由 台端承擔， 台端倘因下載上傳資料致 台端電腦系統或其他裝置受損或損失資料者，概由 台端自行負責。
              </li>
              <li>
                台端自 RubyTix 獲得或透過服務或自服務獲得之任何口頭或書面建議或資料，均不發生本條款未明確規定之任何保證。
              </li>
              <li>
                RubyTix 另明確聲明，其並未提供任何種類之明示或默示性保證與條件，包括（但不限於）可銷性、可獲利性、特殊用途之可適性，及不侵權之默示性保證與條件。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">責任限制</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>於符合上開第14.1條全部規定之前提下， 台端明確暸解並同意， RubyTix 以及其授權人就以下事項對 台端概不負責：
                <ul class="list-decimal list-inside px-3"></ul>
                <li>
                  不論因何種原因以及於任何責任理論下由 台端所發生之任何直接、間接、隨附、特殊、衍生性或懲罰性損害，包括（但不限於）任何直接或間接之利益損失、任何商譽或業務聲譽損失、任何資料損失、替代物品或服務之購置費用，或其他無形損失</li>
                <li>
                  台端可能產生之任何損失或損害，包括（但不限於）因下列原因所致者：台端對任何廣告之完整性、準確性或其存在之信任，或 台端與其廣告出現於服務中之任何廣告商或贊助人間之任何關係或交易；RubyTix 對服務可能做出之任何變更，或 RubyTix 為永久或暫時停止提供服務（或服務中任何功能）而對服務所做出之任何變更；對透過 台端使用服務而維持或傳輸之任何內容及其他通信資料之刪除、毀壞或未予儲存；RubyTix服務提供提供商機訊息、媒合及撮合之平台，對 台端於平台上任何的買賣、預約及交易行為不作任何保證；台端未向 RubyTix 提供準確帳戶資料；台端未對 台端之密碼或帳戶資料保持安全及保密
                </li>
              </li>
              <li>
                不論 RubyTix 已接獲通知或應已知曉發生上開損失之可能性與否， RubyTix 按上開第15.1條規定對 台端之責任限制均適用之。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">著作權及商標政策</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                按 RubyTix 政策規定， RubyTix 接獲符合相關智慧財產權法所稱著作權侵權之通知時，將做出回應，並終止侵權累犯者。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">廣告</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                部分服務乃由廣告收入支援，並得展示廣告及宣傳內容。該等廣告得針對儲存於服務中之資料內容、透過服務提出之詢問，或其他資料為之。 
              </li>
              <li>
                RubyTix 於服務上所為廣告之方式、模式及範圍得變更之，無須特別通知 台端。
              </li>
              <li>
                台端同意， RubyTix 得於服務上載入該等廣告，作為 RubyTix 授予 台端取得及使用服務之權利之對價。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">其他內容</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                服務可能包含對其他網站、內容或資源之超連結。 RubyTix 可能無法控制由 RubyTix 以外之公司或個人所提供之任何網站或資源。
              </li>
              <li>
                台端認知並同意， RubyTix 不對該等外部網站或資源之可用性負責，亦無對該等網路或資源上或自該等網站或資源獲得之任何廣告、產品或其他材料加以認可。
              </li>
              <li>
                台端認知並同意，倘 台端因上述外部網站或資源之可用性，或因 台端信賴該等網站或資源上或 台端自該等網站或資源獲得之任何廣告、產品或其他資料之完整性、準確性或存在，而發生任何損失或損害時， RubyTix 概不負責。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">本條款之變更</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                RubyTix 得隨時變更通用條款或附加條款。 RubyTix 為上述變更時，將於網站提供最新版服務條款。 台端提供。
              </li>
              <li>
                台端暸解並同意，如 台端於日後使用服務，則 RubyTix 將視 台端為接受更新後之服務條款。
              </li>
            </ul>
          </div>
        </li>
        <li class="my-4 mx-2">
          <h3 class="text-lg">一般法律條款</h3>
          <div>
            <ul class="list-decimal list-inside">
              <li>
                台端使用服務時， 有時可能（因該使用或透過該使用而）使用其他人或公司提供之服務、下載其他人或公司提供之軟體，或購買其他人或公司提供之商品。 台端對該等其他服務、軟體或商品之使用，應依 台端與相關公司或個人另行訂定之條款辦理，本條款不影響 台端與前開其他公司或個人間之法律關係。
              </li>
              <li>
                本條款構成 台端與 RubyTix 間關於 台端使用服務（但不包括 RubyTix 根據其他書面協議向 台端提供之任何服務）之全部法律約定，並完全取代 台端與 RubyTix 先前就服務所達成之任何協議。</li>
              <li>
                台端同意， RubyTix 得以電子郵件、一般郵件或於服務上張貼之方式，向 台端提供通知，包括關於修訂本條款之通知。
              </li>
              <li>
                台端同意，如 RubyTix 未行使或未執行本條款所載（或 RubyTix 按任何適用法律所享有）之任何法定權利或救濟時，不得視為對 RubyTix 權利之正式放棄， RubyTix 仍享有該等權利或救濟。</li>
              <li>
                如本條款任一規定經對本案具管轄權之任何法院裁定無效，則該等規定將自本條款中刪除，而不影響本條款其他部分，本條款其餘部分將持續有效並得以執行。
              </li>
              <li>
                台端認知並同意，以 RubyTix 為母公司之公司集團之各成員應為本條款之第三人受益人，該等其他公司有權直接執行並依賴賦予其利益（或權利）之本條款任何規定。除此以外，其他任何人或公司皆非本條款第三人受益人。
              </li>
              <li>
                本條款及 台端與 RubyTix 按本條款項下之關係，均適用RubyTix 公司所屬註冊地相關法律規定及一切使用網際網路之國際慣例， 台端同意並保證不得利用本服務從事侵害他人權益或違法之行為。 台端與 RubyTix 均同意，因本條款所生之任何法律事項與糾紛，以 RubyTix 公司所屬註冊地所在法院（臺灣臺北地方法院）之專屬管轄裁決。
              </li>
            </ul>
          </div>
        </li>
      </div>
    </div>
  </div>


