body,
html {
  padding: 0;
  margin: 0;
  background-color: #e2f6d5;
  font-family: "Poppins", sans-serif;
}
.wrapper {
  width: 100%;
  background-color: #000;
  text-align: center;
  margin: auto;
}
#map-canvas {
  width: auto;
  height: 400px;
}
#btn {
  cursor: pointer;
}
input {
  width: 90%;
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 10px;
  font-size: 18px;
}
input:focus {
  outline: none;
  border-bottom: 2px solid greenyellow;
}
.fas-search {
  margin-top: 3px;
}
