@import url("https://fonts.googleapis.com/css?family=Noto Serif");

.t-nav-div {
  background-image: url("/images/bgimg02.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 800px;
}

.t-nav-logo {
  font-family: "Noto Serif", serif;
  font-size: 40px;
  font-weight: 900;
  color: #750000;
}

.t-nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 50px;
  z-index: 20;
  height: 70px;
}

.t-nav-btn {
  color: #750000;
}

.t-user-btn {
  @apply flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-gray-100 h-10;
  background-color: #750000;
  border: 2px solid #750000;
}

.t-user-btn:hover {
  @apply no-underline;
  background-color: #f5f4f4;
  color: #750000;
  border: 2px solid #750000;
}

.t-cart-quantity {
  position: absolute;
  right: 45px;
  top: 15px;
  background-color: #000;
  color: #fff;
}

.t-category-area {
  display: flex;
  justify-content: center;
  right: 0;
  left: 0;
  margin: auto;
  width: 1000px;
}

.t-category {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  background-color: rgba(255, 255, 255, 0.7);
  color: #750000;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 500px;
  font-size: 45px;
  font-weight: 900;
  text-align: center;
  line-height: 5.5;
}