// Place all the styles related to the admin/ticket_types controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.nested-container{
  width: 45%;
}
.nested-foorm-header{
  display: flex;
  background-color:  #14A3B8;
  color:white;
  justify-content: space-evenly;
  padding: 1%;
}
.nested-basic-info a, .nested-add-btn a{
  color: #14A3B8;
}
.nested-form input{
  border: 1px solid rgb(201, 199, 199);
  padding: 1%;
}

.ticketType-form{
  border: 1px solid  rgb(212, 210, 210)d;
}
.nested-basic-info{
  padding: 2%;
  background-color: rgb(231, 226, 226);
}
.nested-hidden-info{
  background-color: #F8F8FA;
}