<div class="container mt-100 z-100">

  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>

  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>
  <h1>新增活動分類</h1>


  <%= form_for(@category) do |f| %>
    <%= f.label :活動分類 %>
    <%= f.text_field :name %>
    <%= f.submit '新增活動分類' %>
  <% end %>

</div>
