<div class="container">
  <h2 class="mt-6 text-center text-4xl font-extrabold text-gray-900 mb-5 extrabold">新增活動</h2>
  <%= render 'activity_form', activity: @activity %>
</div>
<div><%= link_to '回到活動列表', activities_path %></div>
