<body>
  <!-- .wrapper>.center>.card>.card-harder.bg-white+.card-body.m-n3 -->
  <div class="wrapper">
    <div class="center">
      <div class="card">
        <div class="card-harder bg-white">
          <input type="text" id="mapsearch" /><i
            class="fas fa-search m-2"
            id="btn"
          ></i>
        </div>
        <div class="card-body m-n3">
          <div id="map-canvas"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- input#mapsearch>i.fas.fa-search.m-2#btn -->
</body>
<input type="text" id="mapsearch" /><i class="fas fa-search m-2" id="btn"></i>
