.seat-container {
  width: 10%;
  margin:auto;
  margin-bottom: 30px;
}

.js-row {
  display: flex;
}

.js-seat i{
  color: darkgray;
}

.js-seat{
  margin: 8px;
  color: rgb(104, 197, 209);
}
.js-seat.select{
  color: rgb(209, 104, 104);
}

.js-seat.sold{
  color: rgb(122, 111, 111);
}
.js-row{
  display: grid;
  grid-template-columns: repeat(8, 1fr) ;
}

.js-seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}